<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="VTUANMAI chuyên cung cấp thức ăn, phụ kiện cho thú cưng của bạn với giá cả hợp lý và chất lượng tốt nhất. Chúng tôi có một loạt các sản phẩm bao gồm thức ăn cho chó, mèo, đồ chơi, phụ kiện chăm sóc và nhiều hơn nữa. Đảm bảo sự hài lòng của bạn và thú cưng.">
    <meta name="keywords" content="PetShop,vạn giã,vạn ninh,khánh hòa, thú cưng vạn giã, đồ thú cưng vạn giá, sản phẩm thú cưng,thức ăn thú cưng vạn giã">
    <meta name="author" content="Anh Khoa">
    <meta property="og:image" content="https://www.w3schools.com/images/w3schools_logo_436_2.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="436">
    <meta property="og:image:height" content="228">
    <meta property="og:title" content="VTUANMAI PETSHOP">
    <meta property="og:description" content="VTUANMAI chuyên cung cấp thức ăn, phụ kiện cho thú cưng của bạn với giá cả hợp lý và chất lượng tốt nhất.">
    <meta property="og:type" content="product" />
    @RenderSection("LinkHeader", required: false)

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="~/Cus_assets/img/icons8-pet-64.png">
    <link rel="stylesheet" href="~/Cus_assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Cus_assets/css/owl.theme.default.min.css">
    @* <link rel="stylesheet" href="~/Cus_assets/css/style.css"> *@
    <link rel="stylesheet" href="@Url.Content("~/Cus_assets/css/style.css?v=2.0")">
    <link rel="stylesheet" href="~/Cus_assets/css/grid.css">
    <link rel="stylesheet" href="~/Cus_assets/css/chatbot.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
    
    <style>
        #mc_embed_shell {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
            display: inline-block;
            margin: 2px 0 1em 0;
            padding: 3px;
            background-color: rgba(255, 255, 255, 0.85);
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            font-size: 14px;
            font-weight: normal;
            z-index: 1;
            color: #e85c41;
            margin-left: 130px;
        }
        #mc_embed_signup {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            max-width: 700px;
            margin: 0 auto;
            padding: 20px;
            font-family: 'Montserrat', sans-serif;
        }

            #mc_embed_signup h1 {
                font-weight: bold;
                margin-bottom: 20px;
                font-size: 24px;
                text-align: center;
            }

            #mc_embed_signup .mc-field-group {
                margin-bottom: 20px;
            }

            #mc_embed_signup .mc-field-group label {
                display: block;
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 5px;
                margin-left:23%
            }

            
            #mc_embed_signup input[type="email"],
            #mc_embed_signup input[type="text"] {
                background-color: #eee;
                border: none;
                padding: 13px 15px;
                margin-left:23%;
                width: 60%;
                border-radius: 5px;
            }

            #mc_embed_signup input[type="submit"] {
                border-radius: 10px;
                border: 1px solid #FF4B2B;
                background-color: #FF4B2B;
                color: #FFFFFF;
                font-size: 12px;
                font-weight: bold;
                height:50px;
                letter-spacing: 1px;
                text-transform: uppercase;
                transition: transform 80ms ease-in;
                display: block;
                margin: 0 auto;
            }

                #mc_embed_signup input[type="submit"]:active {
                    transform: scale(0.95);
                }

                #mc_embed_signup input[type="submit"]:focus {
                    outline: none;
                }

            #mc_embed_signup .refferal_badge {
                width: 200px;
                height: 40px;
                display: flex;
                margin: 10px auto;
            }

            #mc_embed_signup .clearfoot {
                margin-top: 20px;
                
            }

            #mc_embed_signup .optionalParent {
                margin-top: 20px;
                text-align: center;
            }

        .modal {
            display: none; /* Hidden by default */
            position: fixed;
            z-index: 1000; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 100px;
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            padding: 20px;
            border: 1px solid #888;
            width: 90%; /* Adjust width as needed */
            max-width: 700px; /* Maximum width for larger screens */
            border-radius: 10px;
        }

        /* Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
    </style>
    <title>Pet Shop</title>

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0" nonce="YOUR_NONCE_VALUE"></script>

    <meta property="og:title" content="@ViewData["OgTitle"]" />
    <meta property="og:description" content="@ViewData["OgDescription"]" />
    <meta property="og:image" content="@ViewData["OgImage"]" />
    <meta property="og:url" content="@ViewData["OgUrl"]" />
    <meta property="og:type" content="product" />
    <link rel="canonical" href="@ViewData["OgUrl"]" />
    <script type="application/ld+json">
        {
          "context": "https://schema.org",
          "type": "PetStore",
          "name": "VTUANMAI Pet Shop",
          "description": "VTUANMAI chuyên cung cấp thức ăn, phụ kiện cho thú cưng của bạn với giá cả hợp lý và chất lượng tốt nhất. Chúng tôi có một loạt các sản phẩm bao gồm thức ăn cho chó, mèo, đồ chơi, phụ kiện chăm sóc và nhiều hơn nữa. Đảm bảo sự hài lòng của bạn và thú cưng.",
          "address": {
            "type": "PostalAddress",
            "streetAddress": "123 Pet Street",
            "addressLocality": "Vạn Giã",
            "addressRegion": "Khánh Hòa",
            "postalCode": "12345",
            "addressCountry": "VN"
          },
          "openingHoursSpecification": {
            "type": "OpeningHoursSpecification",
            "dayOfWeek": [
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday"
            ],
            "opens": "09:00",
            "closes": "18:00"
          }
        }
    </script>
</head>
<body>
    <div class="header padding-l-r">
        @await Html.PartialAsync("_PartialHeader.cshtml")
    </div>
    <div class="container padding-l-r margin-bot">
        @RenderBody()
        @* <div id="chatbox" class="slide-down">
            <div id="box_header">
                <div class="header_user">
                    <div class="admin_image"><img src="" alt="TuVanVien"></div>
                    <span>Tư vấn viên</span>
                </div>
                <div class="header_func">
                    <a class="close_chatbox" href="#"><i class='bx bx-up-arrow-alt'></i></a>
                </div>
            </div>
            <div id="box_body" class="slide-down">
                <div class="user_left">
                    <span>Bạn cần shop hỗ trợ gì ?</span>
                </div>
                <div class="user_right">
                    <span>Hello bạn</span>
                </div>
            </div>
            <div id="box_footer" class="hide">
                <div class="input_user">
                    <input id="user_message" placeholder="Gửi tin nhắn tại đây" type="text">
                </div>
                <a href="#" class="send_message"><i class='bx bxs-send'></i></a>
            </div>
        </div> *@
    </div>
    <div class="footer row-wrap">
        <ul class="footer_items l-3 m-6 s-12">
            <li class="footer_item"><a href="" class="footer_link"><img src="~/Cus_assets/img/white-logo.png" alt="Logo"></a></li>
            <li class="footer_item">
                <span class="footer_name-link white-color">Đường dây nóng: </span>
                <a href="" class="footer_link hover_link">0966160922</a>
            </li>
            <li class="footer_item">
                <span class="footer_name-link white-color">Số ĐT hỗ trợ: </span>
                <a href="" class="footer_link hover_link">0966160922</a>
            </li>
            <li class="footer_item">
                <span class="footer_name-link white-color">Email: </span>
                <a href="" class="footer_link hover_link">trankhoa192837@gmail.com</a>
            </li>
            <li class="footer_item">
                <span class="footer_name-link white-color">Địa chỉ: </span>
                <a href="" class="footer_link hover_link">96/3 Nguyễn Huệ,Vạn Giã,Vạn Ninh,Khánh Hòa</a>
            </li>
        </ul>
        <ul class="footer_items l-3 m-6 s-12">
            <li class="footer_item white-color footer_name_items">Thông tin</li>
            <li class="footer_item">
                <i class='bx bx-chevron-right'></i>
                <a href="" class="footer_link hover_link">Về chúng tôi</a>
            </li>
            <li class="footer_item">
                <i class='bx bx-chevron-right'></i>
                <a href="" class="footer_link hover_link">Điền khoản và điều kiện</a>
            </li>
            <li class="footer_item">
                <i class='bx bx-chevron-right'></i>
                <a href="" class="footer_link hover_link">Privacy Policy</a>
            </li>
            <li class="footer_item">
                <i class='bx bx-chevron-right'></i>
                <a href="" class="footer_link hover_link">Refund Policy</a>
            </li>
            <li class="footer_item">
                <i class='bx bx-chevron-right'></i>
                <a href="" class="footer_link hover_link">Quyền cookies</a>
            </li>
        </ul>
        <ul class="footer_items l-3 m-6 s-12">
            <li class="footer_item white-color footer_name_items">Dịch vụ khách hàng</li>
            <li class="footer_item">
                <i class='bx bx-chevron-right'></i>
                <a href="/myaccount/index" class="footer_link hover_link">Tài khoản của tôi</a>
            </li>
            <li class="footer_item">
                <i class='bx bx-chevron-right'></i>
                <a href="" class="footer_link hover_link">Câu hỏi</a>
            </li>
            <li class="footer_item">
                <i class='bx bx-chevron-right'></i>
                <a href="/ordertracking" class="footer_link hover_link">Lich sử đặt hàng</a>
            </li>
            <li class="footer_item">
                <i class='bx bx-chevron-right'></i>
                <a href="/checkout/index" class="footer_link hover_link">Kiểm tra đơn hàng</a>
            </li>
            <li class="footer_item">
                <i class='bx bx-chevron-right'></i>
                <a href="#" class="footer_link hover_link">Thông tin đơn hàng</a>
            </li>
        </ul>
        <ul class="footer_items l-3 m-6 s-12">
            <li class="footer_item white-color footer_name_items">Theo dõi bản tin</li>
            <li class="footer_item white-color"><span class="footer_link">Đăng kí tài khoản để nhận được các ưu đãi và nhận được thông báo mới nhất !</span></li>
            <li class="footer_item footer_input_user">
                <input placeholder="Địa chỉ email của bạn" class="footer_ipEmail" autocomplete="off" type="text">
                <button type="submit" class="footer_btn_send"><i class="bx bx-paper-plane"></i></button>
            </li>
            <li class="footer_item"><span class="footer_link white-color">Các dịch vụ thanh toán</span></li>
        </ul>
    </div>
    <div>
        <a href="https://m.me/61563589444497" target="_blank" class="messenger-button">
            <img src="@Url.Content("~/FolderImages/pages/iconMess.svg")" alt="Messenger Icon" width="50" height="50" preserveAspectRatio="xMidYMid meet">
        </a>
    </div>
</body>

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="~/Cus_assets/JS/main.js"></script>
<script src="~/Cus_assets/JS/owl.carousel.min.js"></script>
<script src="~/Cus_assets/JS/chatbot.js"></script>
<script>

    $(document).ready(function () {
        var currentPath = window.location.pathname;
        $(".header_link").each(function () {
            var linkPath = $(this).attr("href");
            if (currentPath.includes(linkPath)) {
                $(this).addClass("active_page");
            }
            else {
                $(this).removeClass("active_page");
            }
        });
        if (currentPath === "/") {
            $(".header_link[href='/Home/index']").addClass("active_page");
        }
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const headerPageList = document.querySelectorAll(".header_page_list");

        headerPageList.forEach(function (item) {
            const pageList = item.querySelector(".page_list");
            const closeButton = item.querySelector(".page_list_close");

            // Kiểm tra điều kiện màn hình
            if (window.innerWidth <= 767 || (window.innerWidth >= 768 && window.innerWidth <= 1024)) {
                // Thêm sự kiện click vào header_page
                item.addEventListener("click", function () {
                    togglePageList(pageList, closeButton);
                });

                // Thêm sự kiện click vào icon close
                closeButton.addEventListener("click", function (e) {
                    e.stopPropagation(); // Ngăn chặn sự kiện click từ việc lan truyền lên header_page
                    hidePageList(pageList, closeButton);
                });
            }
        });

        // Hàm hiển thị danh sách page và icon close
        function togglePageList(pageList, closeButton) {
            if (pageList.style.display === "block") {
                hidePageList(pageList, closeButton);
            } else {
                showPageList(pageList, closeButton);
            }
        }

        // Hàm hiển thị danh sách page và icon close
        function showPageList(pageList, closeButton) {
            pageList.style.display = "block";
            closeButton.style.display = "block";
        }

        // Hàm ẩn danh sách page và icon close
        function hidePageList(pageList, closeButton) {
            pageList.style.display = "none";
            closeButton.style.display = "none";
        }
    });

</script>
<script>
    $(".send_message").on("click", function () {
        var mess = $("#user_message").val();
        $("#user_message").val("");
        $('#box_body').append(`<div class='user_right'> <span>${mess}</span> </div>`);
        $.ajax({
            url: '/ChatBotAI/GenerateLoremIpsum/',
            data: { message: mess },

            type: 'POST',
            success: function (answer) {
                $('#box_body').append(`<div class='user_left'><span>${answer} </span></div>`);
            }
        });

    });
</script>
@* subiz *@
<script>!function (s, u, b, i, z) { var o, t, r, y; s[i] || (s._sbzaccid = z, s[i] = function () { s[i].q.push(arguments) }, s[i].q = [], s[i]("setAccount", z), r = ["widget.subiz.net", "storage.googleapis" + (t = ".com"), "app.sbz.workers.dev", i + "a" + (o = function (k, t) { var n = t <= 6 ? 5 : o(k, t - 1) + o(k, t - 3); return k !== t ? n : n.toString(32) })(20, 20) + t, i + "b" + o(30, 30) + t, i + "c" + o(40, 40) + t], (y = function (k) { var t, n; s._subiz_init_2094850928430 || r[k] && (t = u.createElement(b), n = u.getElementsByTagName(b)[0], t.async = 1, t.src = "https://" + r[k] + "/sbz/app.js?accid=" + z, n.parentNode.insertBefore(t, n), setTimeout(y, 2e3, k + 1)) })(0)) }(window, document, "script", "subiz", "acsbmidliclnmarzqqoi")</script>
<!-- Google tag (gtag.js) Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-X1PX0PGQH7"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-X1PX0PGQH7');
</script>
@RenderSection("Scripts", required: false)
@await Component.InvokeAsync("Notyf")


